@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: #ef9b9b;
  color: #f02c2c;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
  height: 100vh;
}

section {
  width: auto;
  height: auto;
  max-width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2rem;
  /* flex-grow: 1; */
  /* padding: 1rem; */
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-size: 15px;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  width: 300px;
  height: 40px;
}

#email,
#password {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-color: white;
  color: black;
  padding: 0px 13px;
  border-radius: 5px;
  outline: none;
  resize: none;

  &::placeholder {
    color: rgba(85, 37, 4, 0.5);
  }
}

/* body {
  background-color: #fa8435;
} */

button {
  cursor: pointer;
}

#reg-link {
  color: #fa8435;
  text-decoration: none;
  font-weight: bold;
}

/* p {
  margin: 0.5rem;
} */