/* Pop-up overlay to cover the entire screen */
.popup-overlay-ssc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures it stays on top */
}

/* Pop-up content styling */
.popup-content-ssc {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease; /* Optional: adds a fade-in effect */
  position: relative;

  .left-row-ssc {
    padding-right: 5px;
    text-align: right;
  }

  .right-row-ssc {
    padding-left: 5px;
    text-align: left;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: fit-content;
  height: fit-content;
  background: transparent;
  color: black;
  border: none;
  font-size: 20px;

  &:hover {
    font-size: 22px;
  }
}

/* .popup-content button:hover {
  background-color: #e04b4b;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
