/* .table-topper {
  display: flex;
  justify-content: space-between;
  width: 20%;
  border: none;
  .t-cte {
    border: none;
    color: #303030;
  }

  .r-cte {
    border-bottom: solid 3px #ff6600;
  }
} */